$max_width: 4096px;
$desktop_width: 1200px;
$small_desktop_width: 1024px;
$tablet_width: 600px;
$mobile_width: 380px;

@mixin media_desktop {
  @media only screen
    and (min-width: #{$desktop_width})
    and (max-width: #{$max_width}) {
    @content;
  }
}

@mixin small_media_desktop {
  @media only screen
    and (min-width: #{$small_desktop_width})
    and (max-width: #{$desktop_width}) {
    @content;
  }
}

@mixin media_tablet {
  @media only screen
    and (min-width: #{$tablet_width})
    and (max-width: #{$small_desktop_width}) {
    @content;
  }
}
@mixin media_mobile {
  @media only screen
    and (min-width: #{$mobile_width})
    and (max-width: #{$tablet_width}) {
    @content;
  }
}
