$color-blue: #0087ff;
$color-blue-2: #001049;
$color-body: #f4f7f9;
$color-white: #fff;
$color-gray: #a8ada9;
$color-black: #212121;
$color-category-tech: #07a7c1;
$color-category-div: #623ab3;
$color-category-app: #46a896;
$color-category-scam: #fe4436;
